header{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:20px;
    color: #fff;
    position: absolute;
    z-index: 20;


    nav {
        width: 45%;

        @include tab {
            display: none;
        }

        ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        }
    } 
}

.hd-logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.ham{
    // 要素を非表示に
    display:none;

    @include tab {
        display: flex;
        width: 25px;
        height: 14px;
        justify-content: space-between;
        flex-direction: column;
        span {
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }
    }
}